body{
    font-family: 'IBM Plex Sans',Arial,sans-serif;
    font-size: 18px;
    color: #4a4a4a;
    background-color: #fff;
    overflow: auto;
}
/* Barra de navegación */
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
header {
    margin: 45px 20px 20px;
    padding-left: 75px;
}
.header-container * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    z-index: 3;
}
.logo > img{
    width: 100%;
}
nav {
    width: 65%;
    text-align: center;
}
nav > ul > li > a {
    display: inline;
    margin: 25px 25px;
    text-decoration: none;
    color: #025157;
}
.actions > * {
    margin:10px 10px;
    font-size: 14px;
}
.actions {
    width: 15%;
    display: inline;
    text-align: right;
}
.sign {
    color: #025157;
    font-weight: 700;
    text-decoration: none;
}
.btn {

    color:white;
    background-color: #025157;
    font-weight: 600;
    padding: 14px 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}
.actions > .btn:hover {
    background-color:#67b54b;
}

main{
    margin-top: 200px;
} 

/* Section Promo */

.home-container-promo{
    display: flex;
    padding-bottom: 120px;
    position: relative;
   
}
/* Article Text Promo */
.publish-promo{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 290px;
    margin: 30px 30px;
}
.publish-promo > h1{
    font-family: vesterbroextrabold;
    line-height: 63px;
    font-size: 68px;
    text-align: left;
    letter-spacing: -3px;
    color: #025157;
    max-width: 560px;
    margin-top: auto;
    margin-bottom: 24px;
}
.promo-text{
    line-height: 31px;
    font-size: 20px;
    color: #46484c;
    margin-bottom: 30px;
    text-align: left;
}
.sign-up-form {
    width: 100%;
    padding-top: 20px;
    text-align: left;
}
.sign-up-form p{

    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -.5px;
    color: rgba(139,139,139,.8);
    margin-top: 25px;
}
.btn2{
    background-color: #67b54b;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 24px;
}
.shopify{
    margin-left: 20px;
}
/* Article images-video */
.video-imgs{
    width: 100%;
    height: 100%;
    margin-right: 30px;
}
.video-imgs > img{
    position: absolute;
}
.vid-imgs-1 {
    right: 14%;
    top: auto;
    width: 23.1%;
}
.vid-imgs-2{
    left: 54%;
    top: 6.5%;
    width: 20%;
}
.vid-imgs-3{
    left: 78%;
    top: 40%;
}
.vid-imgs-4{
    left: 54%;
    top: 64%;
    width: 15%;
    z-index: 4;
}
.vid-imgs-5{
    left: 80%;
    top:65%;
    width: 20%;
}
.vid-imgs-6{
    top: 59%;
    left: 65%;
    z-index: 3;
}
/* article video */
.video{
    width:560px;
    height:315px;
    position:absolute;
    z-index: 5;
    top: 20%;
    left:55%;
}

/* section brands-logo */

.logo-brands{
    display:flex;
    flex-direction:column;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top:60px;
}

.text-brand{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.4px;
    font-weight: 700;
    margin-bottom: 50px;
    opacity: 0.4;
}

.logos{
    max-width: 100%;
    margin: 0 auto;
}

.img-logo{
    margin-right: 60px;
}



/* Section features */

.top-features-container{
    width: 100%;
    margin-top:20%;
    margin-bottom: 20%;
}
.main-title{
    margin-bottom: 60px;
    margin-top:auto;
    text-align: center;
}
.main-title > h1{
    margin-bottom: 0.5rem;
}

.title {
    font-size: 55px;
    color: #025157;
    letter-spacing: -3px;
}

.text-header{
    margin-top: 0;
    margin-bottom: 1rem;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    
}
.card-item{
    border-radius: 9px;
    border: 1px solid #dadada;
    box-shadow: 0 8px 24px rgba(0,0,0,.1);
    margin-bottom: 30px;
    overflow: hidden;
}

.card-item img{
    width: 100%;
    height: auto;
}

.title-main a{
    font-size: 24px;
    text-decoration: none;
    color: #343434;
}

.title-main > p{
    color: #7e7e7e;
    font-size: 17px;
    max-width: 86%;
    margin-left: 10px;
    line-height: 1.5;
}
.title-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Section Tools */

.title-cards{
    font-size: 36px;
    line-height: 1;
    margin-bottom: 60px;
    letter-spacing: -2px!important;
    text-align: center;
    color: #025157
}
.card-tools{
    display: flex;
    justify-content: space-around;
}
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: #fff;
    border: 1px solid #dadada;
    box-shadow: 0 4px 20px rgba(0,0,0,.06);
    padding: 40px 18px;
    border-radius: 4px;
}
.icon-img{
    max-width: 38px;
    margin-bottom: 10px;
}
.title-card{
    font-size: 19px;
    font-weight: 500;
    color: #343434;
    margin-bottom: 20px;
    text-align: center;
}
.text-card{
    font-size: 15px;
    color: #7e7e7e;
    max-width: 92%;
    text-align: center;
}

/* Section Users Case */

.users-cases-container{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 20px;
    margin-left:20px;
    margin-top:20%;
}
.text-main{
    font-size: 55px;
    color: #025157;
    letter-spacing: -2px;
    font-family: vesterbroextrabold,Arial,sans-serif;
}

.text-item{
    padding: 35px 35px;
}
.text-item > h1 {
    margin-bottom: 0.5rem;
}

.paragraphs{
    margin-bottom: 5%;
}
.btn3{
    font-weight: 600;
    font-size: 14px;
    padding: 15px 20px;
    color: #fff;
    background: #025157;
    border-radius: 8px;
    text-decoration: none;
}

.card-photo{
    box-shadow: 0 4px 20px rgba(0,0,0,.11);
    background: #fff;
    border-radius: 10px;
    border: 0;
    margin-bottom: 0;
    position: relative;
}
.card-body{
    display: flex;
    flex-direction: column;
}

.card-imagen{
    background-image: url(https://getmatcha.com/wp-content/uploads/2019/08/0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 2;
}

.card-logo-circle{
    background-color: #81d742;
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
}
.texto{
    position: relative;
    z-index: 1;
    padding: 28px;
}
.card_title{
    font-size: 18px;
    color: #025157;
}

.customer_title{
    font-weight: 400;
    font-size: 23px;
    color: #000;
    margin-bottom: 20px;
}

.results-wrapper{
    display: flex;
    margin-bottom: 28px;
}

.results-icon > img{
    width: 20px;
}

.results-text{
    font-size: 17px;
    line-height: 19px;
    letter-spacing: -.5px;
    color: #828282;
}

.customer-btn{
    background: #025157;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Section Compare */

.compare-matcha-container{
    margin-top:20%;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20%;   
}

.table-container{
    box-shadow: 0 4px 20px rgba(0,0,0,.06);
    border: 1px solid #dadada;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    width:85%; 
    
    display: grid;
    grid-template-columns: 42.5% 20% 20% 20%;
    align-items: center;
    padding-right: 46px;
    padding-left:40px;
    padding-top:15px;
    padding-bottom:20px;
}

.table-header{
    padding-left: 20px;
}
.table-header > h1 {
    font-size: 26px;
    line-height: 1em;
    font-family: vesterbroextrabold,Arial,sans-serif;
    color: #025157;
}
.table-header > img {
    width: auto;
    height: 48px;
}
.table-item{
    width: 100%;
    padding:0 20px;
}
.table-title{
    font-weight: 400;
    font-size: 19px;
    line-height: 1em;
    margin-bottom: 6px
}
.table-text{
    font-size: 13px;
    margin-bottom: 0;
    text-align: left;
}
.table-text-p{
    font-size: 13px;
    margin-bottom: 0;
    padding-left:10px;
}
.--img > img{
    padding-top:45px;
    padding-left: 56px;
}
.-img-header{
    padding-left:60px;
}

/* Section Blocks */

.blocks-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr); 
    padding: 20px;
    gap: 40px 40px;
}
.blocks-container >article{
    width: 95%;
    height: 270px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left:20px;
   
 }

.img-block{
    max-width: 100%;
    justify-content: center;
    border-radius: 10px;
   }






















